<!DOCTYPE html>
<html lang="fr" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/logged-header.css}">
    <link rel="stylesheet" th:href="@{/css/default-header.css}">
    <link rel="stylesheet" th:href="@{css/footer.css}">
</head>
<body>
    <div sec:authorize="isAuthenticated()">
        <div th:replace="~{fragments/logged-header :: logged-header}"></div>
    </div>
    <div sec:authorize="isAnonymous()">
        <div th:replace="~{fragments/default-header :: default-header}"></div>
    </div>

    <!-- Mettre le reste de la page -->





    <!-- Mettre le reste de la page -->

    <div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>