<!DOCTYPE html>
<html lang="fr" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>Mon Profil</title>
        <link rel="stylesheet" th:href="@{/css/logged-header.css}">
        <link rel="stylesheet" th:href="@{/css/default-header.css}">
        <link rel="stylesheet" th:href="@{css/footer.css}">
        <link rel="stylesheet" th:href="@{css/profile.css}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Paytone+One&display=swap" rel="stylesheet">
    </head>
    <body>

        <div sec:authorize="isAuthenticated()">
            <div th:replace="~{fragments/logged-header :: logged-header}"></div>
        </div>
        <div sec:authorize="isAnonymous()">
            <div th:replace="~{fragments/default-header :: default-header}"></div>
        </div>

        <!-- Mettre le reste de la page -->

        <main class="main-profile">
            <div class="profile-title">Mon profil</div>
            <div class="grid-container">
                <div class="grid-card">
                    <div class="card-title">Déposer de l'argent sur Flash Cash</div>
                    <div class="card-description">
                        <p>Ajouter de l'argent avec votre carte</p>
                        <p>Gratuit</p>
                        <p>Dépôt instantané</p>
                        <p>100% sécurisé</p>
                    </div>
                    <a th:href="@{/wallet/deposit}" class="nav-link">
                        <button class="start-button">Start</button>
                    </a>
                </div>
                <div class="grid-card">
                    <div class="card-title">Transfert vers votre banque</div>
                    <div class="card-description">
                        <p>Transfert instantané</p>
                        <p>Gratuit</p>
                        <p>International</p>
                        <p>100% sécurisé</p>
                    </div>
                    <a th:href="@{/wallet/withdraw}" class="nav-link">
                        <button class="start-button">Start</button>
                    </a>
                </div>
                <div class="grid-card">
                    <div class="card-title">Ajouter un IBAN</div>
                    <div class="card-description">
                        <p>Ajoutez votre IBAN</p>
                        <p>Jusqu'à 5</p>
                        <p>100% des banques</p>
                        <p>100% sécurisé</p>
                    </div>
                    <a th:href="@{/wallet/iban}" class="nav-link">
                        <button class="start-button">Start</button>
                    </a>
                </div>
            </div>
            <div class="account-title">Mon solde</div>
            <div class="account-infos-wrapper">
                <div class="account-infos">
                    <div>Utilisateur</div>
                    <div>Montant</div>
                </div>
                <div class="account-values">
                    <div th:text="${user.email}"></div>
                    <div th:text="${wallet.balance / 100} + '€'">100€</div>
                </div>
            </div>
        </main>



        <!-- Mettre le reste de la page -->

        <div th:replace="~{fragments/footer :: footer}"></div>

    </body>
</html>