<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/auth.css}">
</head>

<body>

<div class="auth-container">

    <h2>Create account</h2>

    <form th:action="@{/register}" th:object="${registerRequestDto}" method="post">

        <div class="form-group">
            <input type="text" th:field="${registerRequestDto.firstName}" placeholder="First name" required>
        </div>

        <div class="form-group">
            <input type="text" th:field="${registerRequestDto.lastName}" placeholder="Last name" required>
        </div>

        <div class="form-group">
            <input type="email" th:field="${registerRequestDto.email}" placeholder="Email" required>
        </div>

        <div class="form-group">
            <input type="password" th:field="${registerRequestDto.password}" placeholder="Password" required>
        </div>

        <div class="form-group">
            <input type="text" th:field="${registerRequestDto.phoneNumber}" placeholder="Phone number">
        </div>

        <div class="form-group">
            <input type="text" th:field="${registerRequestDto.city}" placeholder="City">
        </div>

        <div class="form-group">
            <input type="text" th:field="${registerRequestDto.address}" placeholder="Address">
        </div>

        <div class="form-group">
            <input type="text" th:field="${registerRequestDto.country}" placeholder="Country">
        </div>

        <button type="submit">Create account</button>

    </form>

    <div class="switch">
        Already have an account ?
        <a th:href="@{/login}">Login</a>
    </div>

</div>

</body>
</html>