<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Dépôt - FlashCash</title>
    <link rel="stylesheet" th:href="@{/css/logged-header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/deposit.css}">
</head>
<body>

<div th:replace="~{fragments/logged-header :: logged-header}"></div>

<main class="deposit-wrapper">
    <div class="deposit-card">
        <div class="deposit-header">
            <h1>Déposer des fonds</h1>
            <p>Le montant sera crédité instantanément sur votre compte FlashCash.</p>
        </div>
        <div th:if="${maskedIban != null}" th:text="${maskedIban}"></div>
        <div th:if="${maskedIban == null}">
            Aucun IBAN enregistré.
            <a th:href="@{/wallet/iban}">En ajouter un</a>
        </div>
        <form th:action="@{/wallet/deposit}" th:object="${depositRequestDto}" method="post" class="deposit-form">

            <div class="input-group">
                <label for="amount">Montant (€)</label>
                <div class="input-wrapper">
                    <span class="currency-symbol">€</span>
                    <input type="number"
                           th:field="*{amount}"
                           id="amount"
                           placeholder="0"
                           min="1"
                           required>
                </div>
            </div>

            <button type="submit" class="deposit-btn" th:disabled="${maskedIban == null}">Déposer</button>

        </form>
    </div>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>